.App {
  text-align: center;
}

.btn {
  background-color: var(--blue-color);
  color: var(--white-color);
  border: none;
  padding: 16px 50px;
  border-radius: 15px;
  cursor: pointer;
}

.blob5, .blob51 {
  position: absolute;
  z-index: 0;
}

.blob5 {
  left: 0;
  bottom: 0;
}

.blob51 {
  right: 0;
  top: 0;
}