.btn {
  background-color: var(--blue-color);
  color: var(--white-color);
  border: none;
  padding: 16px 50px;
  border-radius: 15px;
  cursor: pointer;
  border: 1px solid var(--blue-color);
  font-family: 'Karla', sans-serif;
}

.btn:hover,
.btn:focus {
  background-color: transparent;
  color: var(--blue-color);
  border: 0.794239px solid var(--blue-color);
}


.blob5, .blob51 {
  position: fixed;
  z-index: -1;
}

.blob5 {
  left: 0;
  bottom: 0;
}

.blob51 {
  right: 0;
  top: 0;
}

.score {
  margin-top: 30px;
  display: flex;
  align-items: center;
  gap: 30px;
}

.score .btn {
  font-size: 18px;
  padding: 10px 30px;
}