:root {
  --blue-color: #293264;
  --light-blue-color: #DBDEF0;
  --white-color: #F5F7FB;
  --green-color: #94D7A2;
  --red-color: #F8BCBC;
  --answer-opacity: 0.5;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Karla', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: var(--blue-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  padding: 40px;
  position: relative;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.loader {
  width: "100%";
  height: "100";
  display: "flex";
  justify-content: "center";
  align-items: "center";
}